*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Gabarito', sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:10px;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    z-index:1;
}

.navbar__s1__title{
    color:#A435F0
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    gap:10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus{
    outline: none;
    
}

.navbar__s3{
    display: flex;
    gap:10px;
    align-items: center;
}

 .navbar__s4{
        display: none;
    }

.mylearning{
    position: relative;
    cursor: pointer;
    
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    top:100%;
    width: 100px;
    right: 0;
    display: none;
    padding: 10px;

}

.mylearning:hover .mylearning__popup{
    display: block;
}

.categories{
    display: flex;
    border-bottom: solid 1px black;
    padding: 10px;
    justify-content: space-around;
}

.categories p{
    background-color: #A435F0;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #A435F0;
    cursor: pointer;
    
}

.categories p:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.salesec{
   position: relative;
}

.salesec img{
    width:100%;
    
}

.salesec_offer{
    background-color: white;
    border: 2px solid black;
    width: 35%;
    position: absolute;
    top:10%;
    left: 5%;
    padding: 2%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: scale(1);
       
    }
}



.recommended{
    padding: 10px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin-top: 5px;

}

.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
}

.course-card img{
    width: 100%;
    height: 50%;
    
}

.topics{
    padding: 10px;
}

.topics__container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;

}

.topics__container p{
    border: solid rgb(43, 43, 43) 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis:25%;
    box-sizing: border-box;
}

.popular{
    padding: 10px;
}


.popular__container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    margin-top: 10px;
    
    

}

.popular__cards{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    
}

.popular__cards img{
    width: 100%;
    height: 50%;
    
}

.footer{
    background-color: black;
    margin: 10px;
    color: white;
    
}

.footer__top{
    display: flex;
    gap:10px;
    margin: 15px;
}

.footer__top p{
    margin: 20px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.footer__bottom h1,p{
    margin: 10px;
}

/* 
Media Queries */

@media screen and (max-width:800px) {

    body{
        font-size: 10px;
    }

}

@media screen and (max-width:600px) {

    .course-card , .popular__cards{
        flex-basis: 40%;
    }

    .categories{
        display:none;
    }

   

    .navbar__s2, .navbar__s3{
        display:none;
    }

    .navbar__s4{
        display: block;
    }

    
}


    

